
body {
    color:#212122;
    background-color:#fff;
    background: url(/images/graybg.png) top left repeat-y;
    padding: 1em 0 1em;
}

a, a:link {
    color:#000;
}
a:visited {
    color:#222;
}

/* --------------------- header / footer ----------------------- */

header {
    text-align: center;
}
nav, footer {
    font-family: "Helvetica Neue Light", "HelveticaNeue-Light",
                 "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 300;
    margin: 2ex;
}
nav a {
    font-size: 3em;
    margin: 0.5ex;
    text-decoration: none;
}

footer {
    font-size: 0.75em;
    text-align: center;
    color: #9c9c9c;
    clear: both;
}


/* -------------- body ---------------------------- */

#main {
}
#main p {
    font-family: Georgia, helvetica, sans-serif;
    line-height: 1.6;
    margin-bottom: 25px;
}

code {
    font-family: "Menlo", "Monaco", 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
}

