/**
 * Banner
 */
.banner {
    width: 100%;
}

.site-header, .site-footer {	
	.nav-text {
		width: 100%;
		font-weight: 200;
		text-align: right;
		display: block;
		color: $grey-color;
	}
	a, a:visited, a:hover {
		color: $grey-color;
		text-decoration: none;
	}
}

.site-header .nav-text {
	border-bottom: 1px solid $grey-color-light;
	margin: $spacing-unit auto 0 auto;
}

.site-footer .nav-text {
	border-top: 1px solid $grey-color-light;
	margin: 0 auto $spacing-unit auto;
	
	font-size: 80%;
	a {
		display: inline-block;
		margin-left: 5px;
	}
}

.spacer {
    margin: $spacing-unit auto;
    @extend %clearfix;
}


/**
 * Posts
 */
.post-header {
    @extend %clearfix;
}

.post-title {
	font-family: system-headline, -apple-system-headline, BlinkMacSystemHeadlineFont,
      "Helvetica Neue", "Lucida Grande";
    font-weight: 600;
    font-size: 2em;
    margin-bottom: 0;

    letter-spacing: -0.5px;
    line-height: 1;
    
    time {
        font-size: 0.8em;
        line-height: 1.3em;
        font-weight: 200;
        float: left;
        clear: left;
    }
    
    .title {
        float: left;
    }
}

.post {
    > p {
        max-width: 650px;
        margin-left: auto;
        margin-right: auto;
    }
}

/** Navigation */
.nav {
    margin: $spacing-unit 0;
    font-weight: 300;
    
    @extend %clearfix;
}
.nav a:hover {
    text-decoration: none;
};

.nav-previous {
    float: left;
}

.nav-next {
    float: right;
}
