<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% if page.title %}
        <title>Bryan Summersett | {{ page.title }}</title>
    {% else %}
        <title>Bryan Summersett</title>
    {% endif %}
    <meta name="author" content="Bryan Summersett">
    <link href="http://feeds.feedburner.com/bryan-summersett" rel="alternate" title="Bryan Summersett" type="application/atom+xml" />
    <link rel="icon" href="/favicon.ico">
    <link rel="home index" href="/" type="text/html">
    <link rel="me author" href="/about" type="text/html">
    <link rel="stylesheet" href="{{ '/css/style.css' | cdn }}">
    <link rel="stylesheet" href="{{ '/css/main.css' | cdn }}">
    <script src="{{ '/js/modernizr-2.5.3.min.js' | cdn }}"></script>
</head>
<body>
    <header>
        <a href="/">
            <img src="{{ '/images/title.png' | cdn }}">
        </a>
    </header>

    <div role="main" id="main">
        {{ content }}
    </div>
    <footer>
            <a href="/index.html">Posts</a>.
            <a href="/projects.html">Projects</a>.
            <a href="http://github.com/bryansum">Github</a>.
            <a href="http://twitter.com/bryansum">Twitter</a>.
    <br>
    <small>&copy; 2012 Bryan Summersett. Made in Seattle.</small>
    </footer>
<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6016902-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->
</body>
</html>
