<!doctype html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Bryan Summersett | {{ post.title }}</title>
    <meta name="author" content="Bryan Summersett">
    <link href="http://feeds.feedburner.com/bryan-summersett" rel="alternate" title="Bryan Summersett" type="application/atom+xml" />
    <link rel="icon" href="/favicon.ico">
    <link rel="home index" href="/" type="text/html">
    <link rel="me author" href="/about" type="text/html">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/main.css">
    <script src="js/modernizr-2.5.3.min.js"></script>
</head>
<body>
    <header>
        <img src="/images/title.png">
    </header>

    <div role="main" id="main">
        <p>
        orem ipsum dolor sit amet, consectetur adipiscing elit. Nullam blandit
        purus eget lorem pretium eu condimentum sapien cursus. Nullam molestie
        sollicitudin hendrerit. Donec sodales aliquet mauris a convallis. Ut
        pretium molestie luctus. Duis vel tincidunt turpis. Cras volutpat
        vestibulum convallis. Donec dignissim nisi eget ipsum venenatis in
        egestas massa semper. Aenean eu leo non mauris mattis ultrices vitae nec
        urna. Proin egestas, erat vitae fermentum malesuada, sem felis auctor
        sem, eget lacinia erat sem ac mauris. Mauris sodales erat sit amet lacus
        aliquet sed aliquet enim ultricies. Praesent leo nisl, sollicitudin quis
        porta at, varius vitae purus. Cras sollicitudin odio vel nisi auctor
        vehicula in et augue.
        </p>
        {{ content }}
    </div>
    <footer>
    &copy; 2012 Bryan Summersett. Made in Seattle.
    <br>
            <a href="/index.html">Posts</a>.
            <a href="/projects.html">Projects</a>.
            <a href="http://github.com/bryansum">Github</a>.
            <a href="http://twitter.com/bryansum">Twitter</a>.
    </footer>
<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-6016902-1");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->
</body>
</html>
